.container{
      display:flex;
      flex-wrap:wrap;
}
body{
      margin:0;
      font-family:Arial;
}
.container{
      display:flex;
      flex-wrap:wrap;
      justify-content:center;
      gap:15px;
      padding:20px;
}
.card{
      width:150px;
      height:150px;
      color:white;
      display:flex;
      justify-content:center;
      align-items:center;
      border-radius:10px;
}
.card:hover{
      transform:scale(1.05);
      cursor:pointer;
      background:grey;
}
.red{background:red;}
.blue{background:blue;}
.green{background:green;}
.orange{background:orange;}
.purple{background:purple;}